/* 
   ----BODY---- 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    background-color: #dcdcdc;
}

/* 
   ----HEADER---- 
*/
.flex h1 {
    position: relative;
    text-align: center;
    margin: 3.75rem 0;
    color: #111111;
    font-weight: 900;
    text-transform: uppercase;
}

.flex h1::before {
    content: "";
    background: #b40000;
    width: 18px;
    height: 6px;
    display: inline-block;
    margin-right: 5px;
    z-index: -1;
    position: absolute;
}

.header-nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.812rem;
}

.header-nav-ul li {
    list-style: none;
    font-weight: 500;
    margin-bottom: 3.75rem;
    padding: 10px 20px;

    border-radius: 5px;
}

li:hover {
    border: 2px solid #b40000;
}

/* 
   ----MAIN---- 
*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    column-gap: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    position: relative;
}

/* 
   ----grid elemento----
*/

.grid-elemento {
    display: block;
    position: absolute;
    background-color: #b40000;
    width: 40px;
    height: 5px;
    right: 455px;
    margin-top: 30px;
}

/* 
   ----box1----
*/

.grid-box1 {
    display: grid;
    align-self: flex-start;
    align-content: center;
    height: 100%;
}

.grid-box1 h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #111111;
    text-align: right;
}

.grid-box1 p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    margin: 1.375rem 0;
    text-align: right;
}

.grid-box1 a {
    background-color: #b40000;
    text-decoration: none;
    color: white;
    padding: 0.937rem 1.875rem;
    border-radius: 0.4rem;
    justify-self: end;
    text-align: right;
    font-weight: 700;
}

.grid-box1 a:hover {
    background-color: #850000;
}

/* 
   ----box2----
*/

.grid-box2 img {
    max-width: 100%;
    border-radius: 0.4rem;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* 
   ----box3----
*/

.grid-box3 {
    display: flex;
    align-items: center;
}

.grid-box3 h2 {
    font-size: 3.875rem;
    text-align: right;
    color: #c6c6c6;
    text-align: right;
    font-weight: 700;
}

/* 
   ----box4----
*/

.grid-box4 .box4 {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.grid-box4 .box4 img {
    width: 1.562rem;
    margin-right: 1rem;
    margin-left: 1.562rem;
    margin-top: 10px;
}

.grid-box4 .box4 p {
    grid-column: 2;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-top: 10px;
}

.grid-box4 .box4 .p1 {
    font-weight: 400;
    text-transform: lowercase;
    margin-top: -15px;
    margin-right: 10px;
}

.grid-box4 .box4:nth-child(odd) {
    background-color: #d3d3d3;
    border-top-left-radius: 5px;
}

.grid-box4 .box4:hover {
    border-left: 5px solid #b40000;
}

/* 
   ----footer----
 */

footer {
    width: 100%;
}

footer p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
